<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link
      rel="stylesheet"
      href="/pcWeb/admin/lib/bootstrap/css/bootstrap.css"
    />
    <link rel="stylesheet" href="/pcWeb/admin/style/index.css" />
    <link rel="stylesheet" href="./index.css" />
    <script src="/pcWeb/admin/lib/bootstrap/js/bootstrap.js"></script>
  </head>
  <body>
    <div class="home d-flex flex-column">
      <header class="header"></header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-2 silder"></div>
          <div class="col-10 conatiner">
            <div>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    Home
                  </li>
                </ol>
              </nav>
              <div class="user-info"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="index.js" type="module"></script>
  </body>
</html>
